<h2>Book List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Year</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let book of books">
       
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publicationYear }}</td>
      <!-- <td><button (click)="deleteBook(book.title)">delete Book</button></td> -->
    </tr>
  </tbody>
</table>
<h2>Add New Book</h2>
<div>
  <label>Title:</label>
  <input type="text" [(ngModel)]="newBookTitle">
  <label>Author:</label>
  <input type="text" [(ngModel)]="newBookAuthor">
  <label>Publication Year:</label>
  <input type="number" [(ngModel)]="newBookPublicationYear">
  <button (click)="addBook()">Add Book</button>
</div>
